@model IEnumerable<Post>

@{ }

<h1 class="blog-title">Welcome here, at my coding blog</h1>

<div>
    <ul class="list-group">
        @foreach (var post in Model)
        {
            var imagePath = $"/Image/{post.Image}";
            <li class="list-group-item">
                <a class="post-title" asp-controller="Home" asp-action="Post" asp-route-postId="@post.PostID">
                    <u>@post.Title</u>
                    @if (imagePath != "/Image/")
                    {
                        <img class="main-img" src="@imagePath" />
                    }
                </a>
            </li>
        }
    </ul>
</div>
