@model Post

@{ }

<h2>@Model.Title</h2>

@if (!string.IsNullOrEmpty(Model.Image))
{
    var imagePath = $"/Image/{Model.Image}";
    <img src="@imagePath" class="main-img" />
}

<p>@Html.Raw(Model.Body)</p>
