body {
    background: url(../content/static/bgmain.jpg);
}

.tags {
    font-family: 'Courier New';
    font-size: 18px;
    width: 15%;
    border-radius: 2px;
    background-color: #EEEEEE;
}

.main-img {
    margin: 5px 0px 5px 0px;
    width: 100%;
    height: auto;
}

.blog-title {
    font-family: 'Courier New';
    font-size: 44px;
    font-weight: bold;
    text-decoration: underline;
}

.post-title {
    font-family: 'Courier New';
    font-size: 28px;
}

.content-editor {
    background-color: aliceblue;
}

.loginForm {
    margin: 10%;
}